{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'get_cookie.js' %}"></script>
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    {% block css_and_js %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <div class="links">
        <ul>
            <li><a href="{% url 'item_list' %}">На главную</a></li>
            <li><a href="{% url 'checkout_view' %}">Checkout</a></li>
        </ul>
    </div>
    <div class="cart">
        <ul>
            <li><p>Сейчас в карзине товаров на {{ price }}$</p></li>
        </ul>
    </div>
</header>
<div class="wrapper">
    <main>
        {% block body %}

        {% endblock %}
    </main>
</div>
</body>
</html>