{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}
{% block css_and_js %}
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{% static 'checkout.css' %}">
{% endblock %}
{% block body %}
    <form id="payment-form">
        <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
        </div>
        <span>Цена товаров в карзине:{{ price }}</span>
        <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay</span>
        </button>
        Скидка: <span id="discount">0</span>
        Налог: <span id="tax">{{ tax }}</span>

        <p id="card-error" role="alert"></p>
        <div id="payment-message" class="hidden"></div>
    </form>
    <input type="text" name="promocode" placeholder="Промокод" id="code" maxlength="15">
    <button id="check-promocode">Проверить промокод</button>

    <script>
        const csrftoken = getCookie("csrftoken");
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("{{ public_key }}");
        var checkoutButton = document.getElementById("checkout-button");


        // Disable the button until we have Stripe set up on the page
        document.querySelector("button").disabled = true;

        var elements = stripe.elements();
        var style = {
            base: {
                color: "#32325d",
                fontFamily: 'Arial, sans-serif',
                fontSmoothing: "antialiased",
                fontSize: "16px",
                "::placeholder": {
                    color: "#32325d"
                }
            },
            invalid: {
                fontFamily: 'Arial, sans-serif',
                color: "#fa755a",
                iconColor: "#fa755a"
            }
        };
        var card = elements.create("card", {style: style});
        // Stripe injects an iframe into the DOM
        card.mount("#payment-element");
        card.on("change", function (event) {
            // Disable the Pay button if there are no card details in the Element
            document.querySelector("button").disabled = event.empty;
            document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
        });
        var form = document.getElementById("payment-form");
        document.querySelector("button#check-promocode").onclick = async (event) => {
            const code = document.querySelector('input#code')
            const discount = document.querySelector('span#discount')
            console.log(code.value)
            try {
                await fetch("{% url 'payment_view' %}", {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({code: code.value})
                }).then((response) => {
                    return response.json()
                }).then((data) => {
                    if (data.is_active) {
                        discount.innerHTML = "" + (data.amount / 100)
                    }
                    else {
                        discount.innerHTML = "Промокод устарел"
                    }
                })
            }
            catch (e) {
                alert('Промокод не найден')
            }

        }
        form.addEventListener("submit", function (event) {
            event.preventDefault();
            // Complete payment when the submit button is clicked
            const discount = document.querySelector('span#discount')

            fetch("{% url 'payment_view' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({'discount': +discount.innerHTML})
            })
                .then(function (result) {
                    return result.json();
                })
                .then(function (data) {
                    payWithCard(stripe, card, data.clientSecret);
                });
        });

        // Calls stripe.confirmCardPayment
        // If the card requires authentication Stripe shows a pop-up modal to
        // prompt the user to enter authentication details without leaving your page.
        var payWithCard = function (stripe, card, clientSecret) {
            loading(true);
            stripe
                .confirmCardPayment(clientSecret, {
                    payment_method: {
                        card: card
                    }
                })
                .then(function (result) {
                    if (result.error) {
                        // Show error to your customer
                        showError(result.error.message);
                    } else {
                        // The payment succeeded!
                        orderComplete(result.paymentIntent.id);
                    }
                });
        };
        /* ------- UI helpers ------- */
        // Shows a success message when the payment is complete
        var orderComplete = async function () {
            loading(false);
            document.querySelector("button").disabled = true;
            await fetch("{% url 'cart_view' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    'X-CSRFToken': csrftoken
                }
            })
            location.href = {% url 'item_list' %};
        };
        // Show the customer the error from Stripe if their card fails to charge
        var showError = function (errorMsgText) {
            loading(false);
            var errorMsg = document.querySelector("#card-error");
            errorMsg.textContent = errorMsgText;
            setTimeout(function () {
                errorMsg.textContent = "";
            }, 4000);
        };
        // Show a spinner on payment submission
        var loading = function (isLoading) {
            if (isLoading) {
                // Disable the button and show a spinner
                document.querySelector("button").disabled = true;
                document.querySelector("#spinner").classList.remove("hidden");
                document.querySelector("#button-text").classList.add("hidden");
            } else {
                document.querySelector("button").disabled = false;
                document.querySelector("#spinner").classList.add("hidden");
                document.querySelector("#button-text").classList.remove("hidden");
            }
        };
    </script>
{% endblock %}